﻿@model IEnumerable<FootballDatabase.Web.Models.Player>

<h2>List of Players</h2>

@if (Model.Count() == 0) 
{ 
    <p>There is no players in the database.</p>
}
else 
{
<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Name)</th>
        <th>@Html.DisplayNameFor(model => model.First().Team)</th>
        <th>Player Info</th>
        <th>Delete</th>
        <th>Modifiy</th>
    </tr>
    @foreach (var player in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => player.Name)</td>
            <td>@Html.DisplayFor(model => player.Team)</td>
            <td>@Html.ActionLink("[SHOW]", "Details", new { id = player.Id })</td>
            <td>@Html.ActionLink("[DEL]", "Remove", new { id = player.Id })</td>
            <td>@Html.ActionLink("[EDIT]", "Edit", new { id = player.Id })</td>
        </tr>
    }
</table>
}
