﻿@model FootballDatabase.Web.Models.Player

@{
    ViewData["Title"] = "PlayersDetails";
}

<h2>Player infos</h2>

@Html.ActionLink("Back to list of players", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.DateOfBirth)</td>
        <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Team)</td>
        <td>@Html.DisplayFor(model => model.Team)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Nationality)</td>
        <td>@Html.DisplayFor(model => model.Nationality)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Number)</td>
        <td>@Html.DisplayFor(model => model.Number)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Position)</td>
        <td>@Html.DisplayFor(model => model.Position)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Matches)</td>
        <td>@Html.DisplayFor(model => model.Matches)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Goals)</td>
        <td>@Html.DisplayFor(model => model.Goals)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Assists)</td>
        <td>@Html.DisplayFor(model => model.Assists)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.MarketValue)</td>
        <td>@Html.DisplayFor(model => model.MarketValue)</td>
    </tr>
</table>
