﻿@model FootballDatabase.Web.Models.Player

<h2>Player Editor</h2>

@using (Html.BeginForm("Edit", "Players"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(model => model.Name)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Name)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Team)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Team)</div>

    <div class="editor-label">@Html.LabelFor(model => model.DateOfBirth)</div>
    <div class="editor-field">@Html.EditorFor(model => model.DateOfBirth)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Nationality)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Nationality)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Number)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Number)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Position)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Position)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Matches)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Matches)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Goals)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Goals)</div>

    <div class="editor-label">@Html.LabelFor(model => model.Assists)</div>
    <div class="editor-field">@Html.EditorFor(model => model.Assists)</div>

    <div class="editor-label">@Html.LabelFor(model => model.MarketValue)</div>
    <div class="editor-field">@Html.EditorFor(model => model.MarketValue)</div>

    <input type="submit" value="Edit" />
}